
slide-panels {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 100;
  contain: paint;
}

slide-panels:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3); 
  transition: opacity 0.35s ease;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}

slide-panels[open]:before {
  opacity: 1;
  pointer-events: all;
}

slide-panel {
  --gap: 0em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: var(--gap);
  left: calc(var(--gap) * -0.5);
  bottom: var(--gap);
  background: #fff;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);
  transform: translate3d(calc(-100% - var(--gap) / 2), 0%, 0);
  transition: transform 0.35s ease;
  z-index: 1;
  pointer-events: all;
}

slide-panel[options~="right"] {
  left: auto;
  right: calc(var(--gap) * 0.5);
  transform: translate3d(calc(100% + var(--gap) / 2), 0%, 0);
}

slide-panel[open] {
  transform: translate3d(calc(0% + var(--gap) / 2), 0%, 0);
}

slide-panel[open][options~="right"] {
  transform: translate3d(calc(0% - var(--gap) / 2), 0%, 0);
}
